node_modules/
.next/
.idea/
.DS_Store
.vercel/
playwright-report/
test-results/
results.xml
npm-debug.log*
.env*.local
.env.sentry-build-plugin
sitemap*.xml
robots.txt
ci-artifacts/
tsconfig.tsbuildinfo
*.tsbuildinfo
